.exercice {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.calculator {
  width: 300px;
  margin: 50px auto;
  border: 1px solid rgba(255, 192, 203, 0.5);
  border-radius: 10px;
  overflow: hidden;
  
}

.display {
  background: rgba(255, 0, 255, 0.153);
  padding: 20px;
  font-size: 2em;
  text-align: right;
 
}

.button-panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(128, 0, 128, 0.605);
}

button {
  padding: 20px;
  font-size: 1.5em;
  background-color: rgba(154, 99, 184, 0.269);
  color: rgb(74, 203, 239);
  border: 2px solid black; 
  box-shadow: 10px 20px 40px brown;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgba(255, 0, 255, 0.53);
  text-align: center;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgba(255, 0, 255, 0.546);
  text-align: center;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
